.form-container {
    display: flex;
    font-size: 2vh;
    justify-content: center;
    align-items: center;
    width: 45vw;
    height: 40vh;
    min-width: 40vw;
    align-self: center;
    border: 0.3vw solid #32333d;
    border-radius: 2vh;
    position: relative;
    box-shadow: 1vh 3vh 0.5vh 0vh #dedfed;
}

.plate > img:nth-child(1) {
    width: 20vw;
    height: 45vh;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-anim {
    position: absolute;
    width: 22vw;
    left: 0;
}

.form > input {
    width: 13vw;
    justify-self: center;
    align-self: center;
    border: 0.2vh solid #dedfed;
    margin: 0.5vh;
    border-radius: 0.5vh;
    text-align: center;
    font-size: 2vh;
    user-select: none;
    outline: none;
}

.form > button {
    border: 0.3vh solid lightcoral;
    background-color: lightcoral;
    font-size: 2vh;
    color: snow;
    width: 40%;
    margin-top: 0.5%;
    box-shadow: 0.1vh 0.5vh 0.3vh 0vh #dedfed;
}

.form > .sign:active {
    background-color: rgba(240, 128, 128, 0.6);
    transform: scale(0.9);
}

.form > input:hover {
    border: 0.2vh solid #2b2a33;
}

.form > input:focus {
    box-shadow: none;
    border: 0.2vh solid #2b2a33;
}

.plate {
    height: inherit;
    width: 22vw;
    background-color: #2b2a33;
    margin: auto;
    position: absolute;
    right: 0;
    height: 40vh;
    border-radius: 0 0.5vh 0.5vh 0;
}

.plate, .form-anim {
    transition: transform 1s ease;
}

.form-anim.animate {
    transform: translateX(23vw);
}

.plate.animate {
    transform: translateX(-23vw);
    transform-style: preserve-3d;
    border-radius: 0.5vh 0 0 0.5vh;
}

.plate.animate > img {
    transform: scaleX(-1);
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100vw;
}

.switch-button {
    margin-top: 3%;
    align-self: center;
    border: none;
    background-color: white;
    width: 25vw;
    font-size: 2vh;
    border: 0.2vh solid lightcoral;
    border-radius: 1vh;
    background-color: lightcoral;
    color: snow;
}

.switch-button:active {
    transform: scale(0.9);
    background-color: rgba(240, 128, 128, 0.6);
}