.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    height: 8vh;
    margin-bottom: 5vh;
    align-items: center;
    border-bottom: 1vh solid #dedede;
    box-shadow: 0vh 1vh 1vh 0vh #dedede;
    position: sticky;
    font-size: 2vh;
}

.header-title {
    display: flex;
    font: caption;
    font-size: 2vh;
    font-family: 'Courier New', Courier, monospace;
    width: 30vw;
    justify-content: center;
}

.link-container {
    display: flex;
    width: 10vw;
    justify-content: space-around;
}